footer
    .container
        h1  Контакты
        .contact-info
            .right-side
                .adress
                    h5 Бухара Ассорти
                    p Медерова 46 пер. Улица№1
                    a(href='tel:0555 55 55 55') 0555 55 55 55
                .adress
                    h5 Бухара Ассорти
                    p Медерова 46 пер. Улица№1
                    a(href='tel:0555 55 55 55') 0555 55 55 55
                .adress
                    h5 Бухара Ассорти
                    p Медерова 46 пер. Улица№1
                    a(href='tel:0555 55 55 55') 0555 55 55 55
                .adress
                    h5 Бухара Ассорти
                    p Медерова 46 пер. Улица№1
                    a(href='tel:0555 55 55 55') 0555 55 55 55
                .adress
                    h5 Бухара Ассорти
                    p Медерова 46 пер. Улица№1
                    a(href='tel:0555 55 55 55') 0555 55 55 55
                .adress
                    h5 Бухара Ассорти
                    p Медерова 46 пер. Улица№1
                    a(href='tel:0555 55 55 55') 0555 55 55 55
                .adress
                    h5 Бухара Ассорти
                    p Медерова 46 пер. Улица№1
                    a(href='tel:0555 55 55 55') 0555 55 55 55
            .left-side
                div
                    h5 Скачайте приложение
                    .social
                        a(href='#')
                            img(src='img/svg/apple.svg')
                        a(href='#')
                            img(src='img/svg/google.svg')
                div
                    .social
                        a(href='#')
                            img(src='img/svg/social1.svg')
                        a(href='#')
                            img(src='img/svg/social2.svg')
                        a(href='#')
                            img(src='img/svg/social3.svg')
                    a(href='#') developed by SunRise Studio




