header
    .container
        .header
            //- основной header
            .right-side
                a(href='#')
                    img(src='img/logo.svg')
                nav
                    ul
                        li
                            a(href='#').active Рестораны
                        li.target-drop-box
                            a(href='#') Меню
                            //- dropdown адреса ресторанов
                            ul.drop-menu
                                li
                                    a
                                        .img
                                            img(src='img/svg/logo1.svg')
                                        div
                                            p 1. Бухара Ассорти, ул. Ибраимова, 105
                                            span Тел.: +996 555 300 200 (с 11:00 до 02:00)
                                li
                                    a
                                        .img
                                            img(src='img/svg/logo1.svg')
                                        div
                                            p 1. Бухара Ассорти, ул. Ибраимова, 105
                                            span Тел.: +996 555 300 200 (с 11:00 до 02:00)
                                li
                                    a
                                        .img
                                            img(src='img/svg/logo1.svg')
                                        div
                                            p 1. Бухара Ассорти, ул. Ибраимова, 105
                                            span Тел.: +996 555 300 200 (с 11:00 до 02:00)
                                li
                                    a
                                        .img
                                            img(src='img/svg/logo2.svg')
                                        div
                                            p 1. Бухара Ассорти, ул. Ибраимова, 105
                                            span Тел.: +996 555 300 200 (с 11:00 до 02:00)
                                li
                                    a
                                        .img
                                            img(src='img/svg/logo2.svg')
                                        div
                                            p 1. Бухара Ассорти, ул. Ибраимова, 105
                                            span Тел.: +996 555 300 200 (с 11:00 до 02:00)
                        li
                            a(href='#')   Доставка
                        li
                            a(href='#') Избранное
                        li
                            a(href='#') F.A.Q
            .left-side
                a.search
                //- dropdown детальный поиск
                .search-dropdown
                    form(action="")
                        input(placeholder='Введите текст')
                        .select
                            span.placeholder Выберите ресторан
                            ul
                                li(data-value='1')
                                    span Все рестораны
                                li(data-value='2')
                                    span 1.	Кореана Family, ул. Юнусалиева, 29
                                    p Тел.: +996 555 300 200 (с 11:00 до 02:00)
                                li(data-value='2')
                                    span 2.	Кореана BBQ, ул. Орозбекова, 68
                                    p Тел.: +996 555 300 200 (с 11:00 до 02:00)
                                li(data-value='3')
                                    span 3.	KIM’S, ул. Юнусалиева, 98/2
                                    p Тел.: +996 555 300 200 (с 11:00 до 02:00)
                                li(data-value='4')
                                    span 4.	KIM’S, ул. Юнусалиева, 98/2
                                    p Тел.: +996 555 300 200 (с 11:00 до 02:00)
                            input(type='hidden' name='changeme')
                        button
                .basket.target-drop-basket(uk-tooltip="title: Корзина")
                    //- количество в корзине 
                    p 25
                .drop-menu-basket
                    div
                        .img
                            img(src='img/png/dish2.png')
                        .basket-dish
                            p Суши
                            table
                                tr
                                    td 2 шт
                                    td 350 сом
                    div
                        .img
                            img(src='img/png/dish.png')
                        .basket-dish

                            p Суши
                            table
                                tr
                                    td 2 шт
                                    td 350 сом
                    div
                        .img
                            img(src='img/png/dish.png')
                        .basket-dish
                            p Суши
                            table
                                tr
                                    td 2 шт
                                    td 350 сом
                    table.total-basket-sum
                        tr
                            td Итого: 6 шт
                            td 1050 сом
                    a(href='index.html').greenBtn Перейти в козину

                //для регистр-х пользователей
                .user
                    img(src='img/svg/gold.svg')
                ul.user-drop-menu
                    li
                        a(href='#').user Личный кабинет
                    li
                        a(href='#').user.favorite Избранное
                    li
                        a.out Выйти
                    li.drop-out
                        a.greenBtn.drop-signOut Отмена
                        a.greenBtn.drop-signOut Выйти

                //для  не регистр-х пользователей
                //.loginSignIn
                    p.logIn Вход /
                    p.signIn Регистрация

    .fixed-registration.registration
        h3 Регистрация
        .bonus
            div
                p 10%
                span Ваш бонус
            div
                img(src='img/svg/standart.svg')
            div
                p 100
                span Ваши баллы
        .form
            form(action='')
                input(placeholder='Имя')
                input(placeholder='+996 (xxx) xxx xxx')
                .adress
                    input(placeholder='Улица*')
                    input(placeholder='Дом*')
                    input(placeholder='Кв/офис')

                input(placeholder='Дата рождения')
                .gender-box
                    p Ваш пол
                    .gender
                        div
                            input(type='radio' name="gender"  id='male' checked)
                            label(for="male")
                            span Мужчина
                        div
                            input(type='radio' name="gender"  id='female')
                            label(for="female")
                            span Женщина
            a.discount Условия участия в бонусной программе
            button.greyBtn Сохранить
    .fixed-registration.enter-form
        .img
            img(src='img/png/logo3.png')
        .form
            .checkbox
                input(type='checkbox')
                span Принимаю условия конфиденциальности и политику безопасности
            input(placeholder='+996 (xxx) xxx xxx' type='number')
            button.greenBtn.signInNext Далее
    .fixed-registration.enter-code
        .img
            img(src='img/png/logo3.png')
        .form
            .send Код был отправлен на номер <p> +996 00 00000 </p>
            .number Неверный номер?
            .code Введите код подтверждения
            input(placeholder='Код' type='number')
            button.greenBtn.signInCodeSend Отправить
            .no-resive Не пришло SMS сообщение?
            button.greyBtn
                p Отправить снова
                span#timerCount 0:18


