<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#ffffff")
        block css
        link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css")
        link( rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
        link(rel='stylesheet' href='fonts/stylesheet.css')
        link(rel="stylesheet" href='css/style.css')
        block title
    body
        include ../_base/header
        block content

        include dishCartModal
        include ../_base/footer
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src="https://unpkg.com/swiper/js/swiper.js")
        script(src="https://unpkg.com/swiper/js/swiper.min.js")
        block libscripts
        script(src='js/main.js')
        block scripts