.breadcrumbs
    div
        a(href="#") Главная /
        a(href="#") Корзина /
    div
        p Call центр:
        a(href="tel:0 556 300 200") 0 778 300 200 /
        a(href="tel:0 556 300 200") 0 778 300 200 /
        a(href="tel:0 556 300 200") 0 708 300 200
