.item-modal
    .cart-group

        .right-side
            .img
                img(src='img/png/dish2.png')
            .like

        .left-side
            .first
                h3 Название блюда
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
            .second
                .info
                    div
                        p Вес
                        span 300 гр
                    div
                        p Цена
                        span 120 сом
                .count
                    .minus
                    input(readonly="readonly"  value='5')
                    .plus
            .cartModalClose


