.item
    img(src='img/png/sushi.png')
    .info
        p Суши
        .price 442 c
        .count
            .minus
            input(readonly="readonly"  value='1')
            .plus
    .like





