.popular
    h1 Популярное
    .swiper-wrapper
        .swiper-slide
            include dishItem
        .swiper-slide
            include dishItem
        .swiper-slide
            include dishItem
        .swiper-slide
            include dishItem
        .swiper-slide
            include dishItem
    .swiper-button-next
    .swiper-button-prev
