.popular#restaurant-slider
    h1 Рестораны
    .swiper-wrapper
        .swiper-slide
           .img
               img(src='../../img/jpg/food1.jpg')
           .info
               p Кореана, ул. Юнусалиева, 127
               span Тел.: +996 550 300 200 (круглосуточно)
           a(href='#').link

        .swiper-slide
           .img
               img(src='../../img/jpg/food1.jpg')
           .info
               p Кореана, ул. Юнусалиева, 127
               span Тел.: +996 550 300 200 (круглосуточно)
           a(href='#').link
        .swiper-slide
            .img
                img(src='../../img/jpg/food1.jpg')
            .info
                p Кореана, ул. Юнусалиева, 127
                span Тел.: +996 550 300 200 (круглосуточно)
            a(href='#').link
    .swiper-button-next
    .swiper-button-prev
