div
    .restaurantItem
        .img
            img(src='img/png/offerImg.png')
            .info
                img(src='img/svg/buharalogo.svg')
                p Медерова 36 пер. Название
        .adress
            h5 Бухара Ассорти
            p Медерова 46 пер. Улица №1
            a(href='#')