.sidebar-menu
    h1 Меню
    a(href='#').all Все блюда
    a(href='#').active Первое
    a(href='#').active Второе
    a(href='#') Гарниры
    a(href='#') Закуски
    a(href='#') Супы
    a(href='#') Салаты
    a(href='#') Мангал
    a(href='#') Хлеб
    a(href='#') Десерты
    a(href='#') Обслуживание
