#search #search-results{display:flex;margin-top:62px}#search #search-results .sidebar .sidebar-menu{width:100%;display:flex;justify-content:flex-start;flex-direction:column}#search #search-results .sidebar .sidebar-menu a{padding:16px;background:#FCFCFC;border-radius:4px;border-bottom:1px solid #ffffff;font-weight:300;font-size:14px;line-height:18px;text-transform:capitalize;color:#4F4F4F}
/*# sourceMappingURL=seacrh.css.map */