#item-modal{position:absolute;z-index:1111;top:0;left:0;bottom:0;right:0;margin:auto;background:#333333;opacity:0.6}#item-modal .cart-group{width:614px;height:412px;padding:12px}
/*# sourceMappingURL=dishCartModal.css.map */