.item {

  width: 100%;
  height: 276px;
  background: #ffffff;
  position: relative;
  img {
    max-height: 186px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    &:hover {
      cursor: pointer;
    }
  }
  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 4px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    .count {
      width: 100%;
    }
    p {
      font-size: 14px;
      line-height: 18px;
      color:$darkgrey;
    }
    .price {
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      color: #EB5757;
      margin: 6px  0;
    }

  }
  &:hover {
    >div {
      box-shadow: 0px 12px 16px rgba(0, 146, 69, 0.1);
    }
  }
  .like {
    background-image: url("../img/svg/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    &:hover {
      cursor: pointer;
    }
    &.active {
      background-image: url("../img/svg/redheart.svg");
    }
  }

}
.count {
  width: 168px;
  display: flex;
  justify-content: space-between;
  .plus, .minus {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {cursor: pointer};
    border-radius: 12px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    box-shadow: 2px -2px 12px rgba(0, 0, 0, 0.05);
  }
  .plus {
    background-image: url("../img/svg/plus.svg");
  }
  .minus {
    background-image: url("../img/svg/minus.svg");
  }
  input {
    color: $darkgrey;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid $grey;
    width: 40px;
    height: 36px;
    text-align: center;
    outline: none;
    &:focus {
      outline: none;
    }
  }
}

