.item-modal {
  display: none;
  position: absolute;
  z-index: 1111;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(34, 38, 43, 0.7);
  .cart-group {
    margin: 200px auto;
    background: #FFFFFF;
    width: 614px;
    height: 412px;
    padding: 12px;
    display: flex;
    .right-side{
      width: 45%;
      height: 100%;
      position: relative;
      .img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .like {
        background-image: url("../img/svg/heart.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 22px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        &:hover {
          cursor: pointer;
        }
        &.active {
          background-image: url("../img/svg/redheart.svg");
        }
      }

    }
    .left-side{
      position: relative;
      width: 55%;
      padding: 24px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .first {
        p {
          margin: 12px 0;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 130%;
          color: #4F4F4F;
        }
      }
      .second {
        .info {
          margin-bottom: 36px;
          display: flex;
          flex-direction: column;
          div {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            p {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 130%;
              color: #333333;
            }
            span {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 130%;
              color: #EB5757;
            }
          }
        }
        .count {
          margin: auto;
        }
      }
      .cartModalClose {
        position: absolute;
        top: 0px;
        right: 0px;
        outline: none;
        width: 24px;
        height: 24px;
        background-image: url("../img/svg/close.svg");
        background-repeat: no-repeat;
        &:hover{
          cursor: pointer;
        }
      }
    }

  }
  &.active {
    display: block;
  }
}