.popular{
  margin-top: 64px;
  width: 100%;
  position: relative;
  overflow: hidden;
  .swiper-wrapper{
    margin: 24px 0;
  }
  .swiper-button-next, .swiper-button-prev {
    width: 56px;
    height: 44px;
    top: 24px;
    right: 0;
    box-shadow: 0px 16px 32px rgba(81, 81, 81, 0.03);
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $white;
    margin-left: 4px;
  }
  .swiper-button-next {
    background-image: url("../img/svg/next.svg");
    &:after {
      content:"none";
    }
    &:hover {
      background-color: $green;
      background-image: url("../img/svg/VectorWhite.svg");

    }

  }
  .swiper-button-prev {
    background-image: url("../img/svg/prev.svg");
    right: 65px;
    &:after {
      content: none;
    }
    &:hover {
      background-color: $green;
      background-image: url("../img/svg/VectorWhite.svg");
      transform: rotate(180deg);

    }
  }
}
