#restaurant-slider {
  .swiper-wrapper{
    .swiper-slide {
      display: flex;
      width: 100%;
      min-height: 92px;
      box-shadow: 0px 12px 16px rgba(0, 146, 69, 0.1);
      border-radius: 6px;
      position: relative;
      .img {
        width: 35%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 6px;
        }
      }
      .info {
        width: 65%;
        padding: 8px 12px;
        p {
          font-size: 14px;
          line-height: 125%;
          color: $green;
        }
        span {
          font-weight: 300;
          font-size: 12px;
          line-height: 150%;
          color: $lightGreen;
        }
      }
    }
  }

}