.sidebar-menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  h1 {
    color: $green;
    margin: 64px 0 36px 0;
  }
  a {
    padding: 16px;
    background: #FCFCFC;
    margin-bottom: 4px;
    border-radius: 4px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #4F4F4F;
    position: relative;
    &:after {
      content: '';
      background-image: url("../img/svg/down.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 15px;
      right: 15px;
    }
    &.active{
      &:after {
        background-image: url("../img/svg/right.svg");
      }
    }
    &.all{
      &:after {
        content: none;
      }
    }
    &:hover {
      background: $lightGreen;
      color: $white;
      &:after {
        background-image: url("../img/svg/down2.svg");
      }
      &.active {
        &:after {
          transform: rotate(-90deg);
        }
      }
    }
  }
}