extends _component/base

//- connect only custom css
block css

block title
    title="Корзина"

block content
    section#basket
        .container
            .wrapper
                include _component/breadcrumbs
                .basket-header
                    h1 Корзина
                    a(href='#') Условия доставки
            .basket-content
                .wrapper-2
                    .basket-item
                        .left-side
                            div
                                img(src='img/svg/buharalogo.svg')
                                p Медерова 46 пер. Улица№1
                        .right-side
                            .dish-item
                                .img
                                    img(src='img/png/dish.png')
                                .info-side
                                    h3 Название блюда
                                    .count
                                        .minus
                                        input(readonly="readonly"  value='1')
                                        .plus
                                    .price
                                        h5 Цена:
                                        p 1 120 сом
                                    .delete-icon
                                    .delete-modal
                                        p Вы действительно хотите удалить c корзины?
                                        div
                                            .whiteBtn.cancel Отмена
                                            button.greenBtn Удалить
                            .dashed-border
                            .dish-item
                                .img
                                    img(src='img/png/dish.png')
                                .info-side
                                    h3 Название блюда
                                    .count
                                        .minus
                                        input(readonly="readonly"  value='1')
                                        .plus
                                    .price
                                        h5 Цена:
                                        p 1 120 сом
                                    .delete-icon
                                    .delete-modal
                                        p Вы действительно хотите удалить c корзины?
                                        div
                                            .whiteBtn.cancel Отмена
                                            .greenBtn Удалить

                            .dashed-border
                            .total-sum
                                h5 Итого :
                                p 1 120 сом
                                button.greenBtn Заказать

                    .green-border
                    .basket-item
                        .left-side
                            div
                                img(src='img/svg/buharalogo.svg')
                                p Медерова 46 пер. Улица№1
                        .right-side
                            .dish-item
                                .img
                                    img(src='img/png/dish.png')
                                .info-side
                                    h3 Название блюда
                                    .count
                                        .minus
                                        input(readonly="readonly"  value='1')
                                        .plus
                                    .price
                                        h5 Цена:
                                        p 1 120 сом
                                    .delete-icon
                                    .delete-modal
                                        p Вы действительно хотите удалить c корзины?
                                        div
                                            .whiteBtn.cancel Отмена
                                            button.greenBtn Удалить

                            .dashed-border
                            .dish-item
                                .img
                                    img(src='img/png/dish.png')
                                .info-side
                                    h3 Название блюда
                                    .count
                                        .minus
                                        input(readonly="readonly"  value='1')
                                        .plus
                                    .price
                                        h5 Цена:
                                        p 1 120 сом
                                    .delete-icon
                                    .delete-modal
                                        p Вы действительно хотите удалить c корзины?
                                        div
                                            .whiteBtn.cancel Отмена
                                            button.greenBtn Удалить

                            .dashed-border
                            .total-sum
                                h5 Итого :
                                p 1 120 сом
                                button.greenBtn Заказать

                    .green-border
                    .basket-item
                        .left-side
                            div
                                img(src='img/svg/buharalogo.svg')
                                p Медерова 46 пер. Улица№1
                        .right-side
                            .dish-item
                                .img
                                    img(src='img/png/dish.png')
                                .info-side
                                    h3 Название блюда
                                    .count
                                        .minus
                                        input(readonly="readonly"  value='1')
                                        .plus
                                    .price
                                        h5 Цена:
                                        p 1 120 сом
                                    .delete-icon
                                    .delete-modal
                                        p Вы действительно хотите удалить c корзины?
                                        div
                                            .whiteBtn.cancel Отмена
                                            button.greenBtn Удалить

                            .dashed-border
                            .dish-item
                                .img
                                    img(src='img/png/dish.png')
                                .info-side
                                    h3 Название блюда
                                    .count
                                        .minus
                                        input(readonly="readonly"  value='1')
                                        .plus
                                    .price
                                        h5 Цена:
                                        p 1 120 сом
                                    .delete-icon
                                    .delete-modal
                                        p Вы действительно хотите удалить c корзины?
                                        div
                                            .whiteBtn.cancel Отмена
                                            .greenBtn Удалить

                            .dashed-border
                            .total-sum
                                h5 Итого :
                                p 1 120 сом
                                .greenBtn Заказать
                    .green-border


//- connect only custom js
block scripts


