extends _component/base

//- connect only custom css
block css

block title
    title="Корзина"

block content
    section#basket
        .container
            .wrapper
                include _component/breadcrumbs
                .basket-header
                    h1 Корзина
                    a(href='#') Условия доставки
                .empty-basket-content
                    p В корзине пока заказов нет.
                .center
                    a(href='#').greenBtn Перейти к меню




//- connect only custom js
block scripts