extends _component/base

//- connect only custom css
block css
block title
    title="Избранное"
block content
    section#favorites
        .container
            .wrapper
                include _component/breadcrumbs
                .favorites-header
                    h1 Избранное
                .flexGrid
                    div
                        include _component/dishItem.pug
                    div
                        include _component/dishItem.pug
                    div
                        include _component/dishItem.pug
                    div
                        include _component/dishItem.pug
                    div
                        include _component/dishItem.pug
                    div
                        include _component/dishItem.pug
                    div
                        include _component/dishItem.pug
                    div
                        include _component/dishItem.pug
                    div
                        include _component/dishItem.pug
                    div
                        include _component/dishItem.pug
                    div
                        include _component/dishItem.pug
                    div
                        include _component/dishItem.pug
                    div
                        include _component/dishItem.pug
                    div
                        include _component/dishItem.pug
                    div
                        include _component/dishItem.pug
//- connect only custom js
block scripts