extends _component/base
//- connect only custom css
block css
block title
    title="BUHARA"
block content
    main
        .container
            include _component/breadcrumbs 
        .slide-banner
            .swiper-wrapper
                //- первый слайдер
                picture.swiper-slide
                    source(media="(max-width: 480px)"  srcset="img/png/banner4.png")
                    source(media="(max-width: 768px)"  srcset="img/png/banner3.png")
                    source(media="(max-width: 1024px)" srcset="img/png/banner2.png")
                    img(src='img/png/banner.png')
                     //- заголовок для слайдера
                    .title
                        .container
                            hr.line
                            .text
                                h2  акция на суши
                                h1 20%
                            hr.line
            .swiper-button-next
            .swiper-button-prev
        .order-block
            .container
                h1 Заказать еду с ресторана :
                .flexGrid
                    include _component/restaurantItem
                    include _component/restaurantItem
                    include _component/restaurantItem
                    include _component/restaurantItem
                    include _component/restaurantItem
                    include _component/restaurantItem
        .reklama
            .container
                img(src='img/svg/re.svg')
            .container
                .delivery
                    div
                        img(src='img/svg/car.svg')

                    div
                        img(src='img/svg/delivery.svg')
                        .tel 
                            a(href='tel:0(556) 300 200') 0(556) 300 200 
                            a(href='tel:0(774) 300 200') 0(774) 300 200 
                            a(href='tel:0(708) 300 200') 0(708) 300 200 
        .fixed-call
            .icon-2
                .icon 
        .modal    

//- connect only custom js
block scripts