extends _component/base
//- connect only custom css
block css

block title
    title="Заказать"

block content
    section#order
        .container
            .wrapper
                include _component/breadcrumbs
                .order-header
                    h1 Оформление заказа
                .order-content
                    .right-side
                        input(required value='' placeholder='Имя' )
                        input(required value='' placeholder='Номер телефона')
                        input(required value='' placeholder='Улица')
                        input(required value='' placeholder='Дом')
                        input(required value='' placeholder='Квартира')
                        input(required value='' placeholder='Подъезд')
                        input(required value='' placeholder='Этаж')
                        input(required value='' placeholder='Комментарии')
                    .left-side
                        div
                            h3 Оплата
                            .radio
                                div
                                    input(type='radio' name="payment"  id='cash' checked)
                                    label(for="cash")
                                    span Наличными
                                div
                                    input(type='radio' name="payment"  id='elsom')
                                    label(for="elsom")
                                    span Счет “Элсом”
                                    a(href='#').QA
                            .dashed-border
                            //.total
                                div
                                    p Промежуточный итог
                                    p 1230 c
                                div
                                    p Снять баллы
                                    p (400)
                                    p 200
                            .total-summery
                                div
                                    h5 Итого к оплате
                                    p 1033 c
                                button.greenBtn.paymentBtn Заказать
                    include  _component/paymentModal








//- connect only custom js
block scripts