extends _component/base

//- connect only custom css
block css

block title
    title="F.A.Q."

block content
    section
        .container
            #question
                .sidebar
                    .logo
                        img(src='img/png/logo2.png')
                    .question-side
                        a(href='#').delivery Условия доставки
                        a(href='#').active Вопрос 1
                        a(href='#').active Вопрос 2
                        a(href='#') Вопрос 3
                        a(href='#') Вопрос 4
                        a(href='#') Вопрос 5
                        a(href='#') Вопрос 6
                        a(href='#') Вопрос 7
                .main
                    include _component/breadcrumbs
                    .question-header
                        h1 F.A.Q.
                    .question-content
                        h5   Условия доставки
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non






//- connect only custom js
block scripts