extends _component/base
//- connect only custom css
block css
block title
    title="Ресторан"
block content
    section#restaurant
        .container
            #restaurant-content
                .sidebar
                    .logo
                        img(src='img/png/logo1.png')
                        p Медерова 46 пер. Улица№1
                    include _component/sidebar-menu
                .main
                    include _component/breadcrumbs
                    .search-restaurant
                        include _component/restaurant-slide
                    .search-popular
                        include _component/popular
                    .search-cart
                        h1 Первое
                        .flexGrid
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem



















//- connect only custom js
block scripts