extends _component/base

//- connect only custom css
block css

block title
    title="Restaurant detail"

block content
    section#restaurant
        .container
            #restaurant-detail
                .sidebar
                    .logo
                        img(src='img/png/logo1.png')
                        p Медерова 46 пер. Улица№1
                    button.greenBtn Меню ресторана
                    .restaurant-info
                        div
                            p Время работы
                            span 10:00-02:00
                        div
                            p Адрес
                            span город Бишкек, улица Медерова 46
                        div
                            p Позвонить
                            span +996 555 55 55 55
                .main
                    include _component/breadcrumbs

                    .content-header
                        h1   Кореана Family, ул. Юнусалиева, 29
                        h5  О ресторане
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus
                    .content-content
                        .slide-restaurant
                            .swiper-wrapper
                                picture.swiper-slide
                                    source(media="(max-width: 768px)"  srcset="img/png/banner3.png")
                                    img(src='img/png/bannerRestaurant.png')
                            .swiper-button-next
                            .swiper-button-prev

                        #div
                            .reviews
                                h1 Отзывы
                                .swiper-wrapper
                                    .review-box.swiper-slide
                                        h5 Alina
                                        p 20.25.2020
                                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus
                                    .review-box.swiper-slide
                                        h5 Dastan
                                        p 20.25.2020
                                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus lectus magna fringilla urna, porttitor rhoncus dolor purus
                                    .review-box.swiper-slide
                                        h5 Erlan
                                        p 20.25.2020
                                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus
                                    .review-box.swiper-slide
                                        h5 Bek
                                        p 20.25.2020
                                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus
                                .swiper-button-next
                                .swiper-button-prev
                            .left-comments
                                div
                                    input(placeholder='Авторизуйтесь чтобы оставить отзыв' maxlength='324px' type='text' id='inputChars')
                                    .chars
                                        span(id='chars') 0
                                        span  / 324
                                button.greyBtn Оставить отзыв
                            .reviews
                                h1 Акции и скидки
                                .swiper-wrapper
                                    .discount-box.swiper-slide
                                        .img
                                            img(src='img/png/discount1.png')
                                        .inner-text Акция! При покупке суши на 2 человека кальян в подарок
                                        p <span>10%</span> скидка на ужин до <span>21.10.2019</span>
                                    .discount-box.swiper-slide
                                        .img
                                            img(src='img/png/discount2.png')
                                        .inner-text Акция! 40%
                                        p <span>10%</span> скидка на ужин до <span>21.10.2019</span>
                                    .discount-box.swiper-slide
                                        .img
                                            img(src='img/png/discount3.png')
                                        .inner-text 20%
                                        p <span>10%</span> скидка на ужин до <span>21.10.2019</span>
                                .swiper-button-next
                                .swiper-button-prev
                            include _component/popular
            .map
                iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d23391.214283524492!2d74.63356460000001!3d42.874917100000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skg!4v1571295586627!5m2!1sru!2skg" frameborder="0" style="border:0;" allowfullscreen="")













//- connect only custom js
block scripts