extends _component/base
//- connect only custom css
block css
block title
    title="Поиск"
block content
    section#search
        .container
            #search-results
                .sidebar
                    .logo
                        img(src='img/png/logo1.png')
                    include _component/sidebar-menu
                .main
                    include _component/breadcrumbs
                    .search-cart
                        h1 Результаты поиска
                        h3 Кореана Family, ул. Юнусалиева, 29
                        .flexGrid
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                        button.greenBtn Показать все
                    .search-cart
                        h3 Кореана Family, ул. Юнусалиева, 29
                        .flexGrid
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                        button.greenBtn Показать все
                    .search-cart
                        h3 Кореана Family, ул. Юнусалиева, 29
                        .flexGrid
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                            div
                                include _component/dishItem
                        button.greenBtn Показать все



















//- connect only custom js
block scripts