* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cera Pro';
  position: relative;
  padding-top: 64px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

}
.wrapper {
  padding: 0 100px;
  @media (max-width: 980px){
    padding: 0px;
  }
}
.wrapper-2 {
  padding: 0 84px;
  @media (max-width: 1024px){
    padding: 0px;
  }
}
.link  {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1;
}

a {
  text-decoration: none;
  transition: all ease-in 0.2s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

img {
  max-width: 100%;
  display: block;
}

$lightGreen: #154F40;
$green: #0B2F25;
$white: #FFFFFF;
$grey: #BDBDBD;
$darkgrey: #4F4F4F;
$pink: #EB5757;



// Fonts titles
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #201E1E;
  @media (max-width: 768px){
    font-size: 28px;
  }
}



h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  @media (max-width: 768px){
    font-size: 20px;
  }
  @media (max-width: 580px){
    font-size: 18px
  }
}



h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  @media (max-width: 768px){
    font-size: 16px;
  }
}

.greenBtn {
  background: $lightGreen;
  padding: 14px 65px;
  color: #FFFFFF;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border: none;
  &:hover{
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
.whiteBtn {
  background: $white;
  color: $lightGreen;
  padding: 12px 20px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  &:hover{
    cursor: pointer;
  }
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-size: 14px;
  color: $grey;
  > div:nth-last-child(1){
    box-shadow: 0px 16px 32px rgba(81, 81, 81, 0.03);
    border-radius: 4px;
    padding: 7px 14px;
    text-align: right;
    display: flex;
    align-items: center;
    p {margin-right: 10px}
    a {
      &:hover {
        transform: none;

       color: $darkgrey;
     }
   }
  }


  a {
    font-size: 12px;
    line-height: 14px;
    color: #BDBDBD;
    margin-right: 10px;
    &:hover {
      color: #4F4F4F
    }
  }
}
.sidebar {
  width: 30%;
  padding-right: 30px;
  min-width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (max-width: 768px) {
    position: fixed;
    left: -100%;
    transition: all ease-out 0.8s ;
  }
}
.main {
  width: 70%;
  @media (max-width: 768px) {
    width: 55%;
  }
  @media (max-width: 490px) {
    width: 45%;
  }
}
.content-header{
  margin: 24px 0 36px 0;
  @media (max-width: 768px) {
    margin: 18px 0;
  }
}

@keyframes fadeInFrames {
  to {
    box-shadow: 0 0 0 12px transparent, 0px 12px 20px rgba(0, 0, 0, 0.25);
  }
}
