.green-border {
  margin: 24px 0;
  width: 100%;
  border-bottom: 2px solid $lightGreen;
}
.dashed-border {
  margin: 24px 0;
  width: 100%;
  border-bottom: 1px dashed #E0E0E0;
}

#basket {
  margin: 24px 0 64px 0;
  .basket-header {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      display: flex;
      height: 44px;
      background: #FFFFFF;
      border-radius: 4px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      align-items: center;
      text-align: center;
      color: $lightGreen;

      &:after {
        content: '';
        width: 14px;
        height: 14px;
        background-image: url("../img/svg/green.svg");
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 5px;
      }
    }
  }

  .empty-basket-content {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: $grey;
      font-weight: 300;
      font-size: 18px;
    }
  }
  .center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .basket-content{
    margin-top: 24px;
    .basket-item {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background: #FBFBFB;
      padding: 36px 32px;
      .left-side {
        width: 32%;
        > div {
          background: $white;
          margin: 0 32px 32px 0;
          padding: 30px 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          height: 206px;
          img {
            width: 174px;
            height: 200px;
          }
          p {
            margin-top: 18px;
            font-weight: 500;
            font-size: 12px;
            color: #4F4F4F;
          }
        }
        @media(max-width: 768px){
          width: 65%;
          >div {
            margin: 0 0 32px 0;
          }
        }
      }
      .right-side {
        width: 68%;
        @media(max-width: 768px){
          width: 100%;
        }
        .dish-item {
          height: 186px;
          border-radius: 4px;
          background: $white;
          display: flex;
          position: relative;
          .img {
            width: 25%;
            @media(max-width: 960px){
              width: 30%;
            }
            @media(max-width: 768px){
              width: 35%;
            }
            @media(max-width: 580px){
              width: 45%;
            }
            img{
              width: 100%;
              height: 100%;
            }
          }
          .info-side {
            width: 75%;
            padding: 24px 32px;
            @media (max-width: 580px){
              width: 55%;
              h3 {
                padding-right: 10px;
                line-height: normal;
              }
            }

            .count {
              margin: 20px 0 28px 0;
            }
            .price {
              display: flex;
              h5 {color: $darkgrey}
              p {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                color: $pink;
                margin-left: 12px ;
                @media (max-width: 500px){
                  margin-left: 10px ;


                }
              }
            }
            @media(max-width: 768px){
              padding: 18px 24px;
            }

          }
          .delete-icon {
            position: absolute;
            top: 15px;
            right: 15px;
            background-image: url("../img/svg/delete-icon.svg");
            width: 22px;
            height: 22px;
            &:hover {
              cursor: pointer;
              background-image: url("../img/svg/delete-icon2.svg");
            }
          }
          .delete-modal {
            display: none;
            position: absolute;
            top: 40px;
            right: 15px;
            background: $white;
            width: 280px;
            height: 176px;
            padding: 24px;
            box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
            border-radius: 12px;
            > div {
              width: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center;
              margin-top: 40px;

              .greenBtn {
                width: 98px;
                height: 44px;
                display: flex;
                padding: 0;
                align-items: center;
                justify-content: center;
                margin: 0;
              }
              .cancel {
                &:hover{
                  box-shadow: 2px -2px 12px rgba(0,0,0,0.05);

                }
              }
            }
          }
        }

      }
      .total-sum {
        width: 100%;
        padding: 12px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        h5 {
          color: $darkgrey;

        }
        p {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 23px;
          color: $pink;
          margin: 0 125px 0 12px;
          @media (max-width: 490px){
            margin: 0 25px 0 5px;
          }

        }
        @media (max-width: 560px) {
          justify-content: center;
        }
      }
      @media (max-width: 560px) {
        padding: 24px 0;
        .greenBtn {
          margin-top: 20px;
          justify-content: center;
          text-align: center;
          width: 100%;
        }
      }
    }



  }
}