#favorites{
  margin: 24px 0 64px 0;
  .favorites-header {
    margin-top: 24px;
  }
  .flexGrid{
    display: flex;
    margin-top: 36px;
    margin-left: -32px;
    flex-wrap: wrap;
    @media (max-width: 768px){
      justify-content: space-around;
    }
    >div {
      padding-left: 32px;
      width: 20%;
      margin-bottom: 32px;
      @media(max-width: 1024px){
        width: 25%;
      }
      @media(max-width: 890px){
        width: 33.3%;
      }
      @media(max-width: 768px){
        width: 45%;
      }
    }
  }
}