footer {
  background: $green;
  padding: 64px 0 100px 0;
  color: $white;
  h1 {color: $white}
  @media(max-width: 980px){
    padding: 44px 0 50px 0;
  }
  .contact-info {
    display: flex;
    flex-wrap: wrap;
    .right-side {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      .adress {
        margin-top: 42px;
        width: 33.3%;
        p {
          font-size: 14px;
          line-height: 18px;
          padding-top: 2px;
        }
        a {
          font-size: 14px;
          line-height: 18px;
          color: $white
        }
        @media(max-width: 980px){
          width: 50%;
        }
        @media(max-width: 468px){
          width: 100%;
        }
        //@media(max-width: 440px){
        //  width: 80%;
        //}
      }
      @media(max-width: 980px){
        width: 100%;
      }
    }
    .left-side {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      @media (max-width: 468px){
        align-items: flex-start;
      }
      >div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media (max-width: 468px){
          align-items: flex-start;
        }
      }

      .social {
        display: flex;
        justify-content: flex-end;
        margin: 18px 0;
        a {
          display: block;
          margin-left: 24px ;
         
          @media (max-width: 468px){
            margin: 0 24px 0 0;
          }
        }
      }
      a {color: #ffffff}

      @media(max-width: 980px){
        margin-top: 30px;
        width: 100%;
      }

    }

  }
}