header {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  z-index: 1111;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #fff;

  .container {
    overflow: visible;
  }

  .header {
    display: flex;
    justify-content: space-between;
    position: relative;

    .right-side {
      display: flex;
      align-items: center;

      a {
        display: block;
      }

      nav {
        > ul {
          display: flex;

          > li {
            list-style: none;
            position: relative;
            margin-left: 44px;

            &.show-box {
              .drop-menu {
                top: 64px;
                visibility: visible;
                opacity: 1;
                border-radius: 0 0 4px 4px;
                overflow: hidden;
              }
            }

            > a {
              padding: 22px 0;

              font-size: 14px;
              line-height: 18px;
              color: #4F4F4F;
              border-bottom: 2px solid transparent;
              &:hover {
                color: $lightGreen;
                border-bottom: 2px solid $lightGreen;
                transform: none;
              }
            }

            .active {
              color: $lightGreen;
              border-bottom: 2px solid $lightGreen;
            }

            .drop-menu {
              background: #FFFFFF;
              display: flex;
              flex-direction: column;
              position: absolute;
              top: 80px;
              left: 0;
              width: 346px;
              opacity: 0;
              transition: 0.3s;
              visibility: hidden;

              li {
                margin-left: 0;
                list-style: none;
              }

              a {
                width: 100%;
                display: flex;
                border-bottom: 1px solid $grey;
                box-shadow: 0px -1px 2px rgba(33, 150, 83, 0.25);
                padding: 12px;
                margin: 0;
                transform: none;

                .img {
                  width: 20%;
                }

                div {
                  width: 80%;

                  > p {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%;
                    color: $lightGreen;

                  }

                  > span {
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 150%;
                    color: $green;
                  }
                }

                &:hover {
                  border-bottom: 1px solid #154F40;
                }
              }
            }
          }
        }
      }
    }

    .left-side {
      display: flex;
      align-items: center;
      justify-content: center;

      .search {
        background-image: url("../img/svg/search1.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 24px;
        height: 100%;
        position: relative;

        &:hover {
          cursor: pointer;
        }
      }
      .search-dropdown {
        position: absolute;
        top: 80px;
        right: 50%;
        transform: translateX(50%);
        width: 742px;
        opacity: 1;
        transition: 0.3s;
        visibility: hidden;
        background: #FFFFFF;
        padding: 12px 16px;
        align-items: center;
        border-radius: 4px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);

        form {
          display: flex;
          justify-content: space-between;

          input {
            width: 344px;
            border: none;
            border-bottom: 1px solid #E0E0E0;
            padding: 6px 0;
            font-weight: 300;
            font-size: 14px;
            line-height: 130%;
            color: #989797;
            border-radius: 4px;
          }


          .select {
            position: relative;
            display: block;
            width: 306px;
            color: grey;
            text-align: left;
            user-select: none;
            -webkit-touch-callout: none;

            .placeholder {
              position: relative;
              display: block;
              background-color: white;
              z-index: 1;
              padding: 5px;
              border-radius: 2px;
              cursor: pointer;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              color: #4F4F4F;

              &:after {
                position: absolute;
                right: 1em;
                content: url("../img/svg/polygon .svg");
              }
            }

            &.is-open {
              ul {
                visibility: visible;
                opacity: 1;
              }
            }

            &.select--white {
              .placeholder {
                background: #fff;
                color: #4F4F4F;
                //&:hover{
                //  background: darken(#fff,2%);
                //}
              }
            }

            ul {
              position: absolute;
              width: 100%;
              background: #fff;
              top: 100%;
              left: 0;
              list-style: none;
              z-index: 100;
              visibility: hidden;
              opacity: 0;
              display: flex;
              flex-direction: column;
              padding: 0 12px;

              li {
                display: flex;
                flex-direction: column;
                text-align: left;
                padding: 10px;
                border-bottom: 1px solid #E0E0E0;
                cursor: pointer;

                span {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 18px;
                  display: flex;
                  align-items: center;
                  color: #4F4F4F;
                }

                p {
                  font-style: normal;
                  font-weight: 300;
                  font-size: 12px;
                  line-height: 150%;
                  color: #4F4F4F;
                }

                &:hover {
                  border-bottom: 1px solid #154F40;

                  span {
                    color: $green
                  }

                  //box-shadow: 0px 2px 4px rgba(33, 150, 83, 0.25);

                }


              }
            }
          }

          button {
            width: 24px;
            height: 24px;
            background-image: url("../img/svg/search.svg");
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            border: none;

            &:focus {
              outline: none;
            }

            &:hover {
              cursor: pointer;
            }

          }
        }

        &.search-show-box {
          top: 64px;
          visibility: visible;
          opacity: 1;
          border-radius: 0 0 4px 4px;
        }
      }
      .basket {
        background-image: url("../img/svg/basket.svg");
        width: 24px;
        height: 24px;
        margin: 0 32px;
        position: relative;
        &.active {
          background-image: url("../img/svg/x.svg");
          p {display: none;}
        }
        &:hover {
          cursor: pointer;
        }
        p {
          position: absolute;
          content: "";
          top: 0;
          min-width: 12px;
          width: 12px;
          height: 12px;
          background: #219653;
          color: #ffffff;
          font-size: 6px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          right: 0;
        }
      }
      .drop-menu-basket {
        position: absolute;
        top: 80px;
        right: 12%;
        width: 274px;
        opacity: 1;
        transition: 0.3s;
        visibility: hidden;
        background: #FFFFFF;
        padding: 12px 16px;
        align-items: center;
        border-radius: 4px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
        &.basket-show-box {
          visibility: visible;
          top: 64px;
          opacity: 1;
          
        }

        > div {
          display: flex;
          padding-bottom: 12px;
          border-bottom: 1px solid #E0E0E0;
          margin-bottom: 12px;

          .img {
            width: 56px;
            height: 56px;
            margin-right: 12px;

            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 4px;

            }
          }

          .basket-dish {
            padding: 5px 0;
            width: 100%;

            p {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
              color: #4F4F4F;
            }

            table {
              width: 100%;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              color: #989797;

              td {
                width: 50%;
              }

              td:nth-child(2) {
                text-align: right;
              }
            }


          }

        }

        table {
          &.total-basket-sum {
            width: 100%;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: #4F4F4F;
            margin-bottom: 16px;

            td {
              width: 50%
            }

            td:nth-child(2) {
              text-align: right;
              color: $pink
            }
          }
        }

        .greenBtn {
          display: block;
          padding: 14px 0;
          justify-content: center;
        }
      }
      .loginSignIn {

        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        height: 100%;
        color: #4F4F4F;
        &:hover {
          cursor: pointer;
        }
      }
      .user {
        &:hover {
          cursor: pointer;
        }
      }
      .user-drop-menu {
        position: absolute;
        top: 80px;
        display: flex;
        flex-direction: column;
        right: 0;
        background: #ffffff;
        list-style: none;
        width: 274px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        padding: 0 16px;
        visibility: hidden;
        transition: all ease-in 0.3s;

        &.active {
          visibility: visible;
          top: 64px;
          li {
            visibility: visible;
            opacity: 1;
          }
        }
        li {
          border-bottom: 1px solid #E0E0E0;
          visibility: hidden;
          opacity: 0;
          transition: all ease-in 0.1s;
          a.user {
            color: $darkgrey;
            transform: none;
            padding: 16px 0 16px 32px;
            display: block;
            position: relative;
            filter: grayscale(100%);
            &:before {
              content: '';
              width: 20px;
              height: 20px;
              background-image: url("../img/svg/user.svg");
              background-repeat: no-repeat;
              background-position: center;
              position: absolute;
              top: 15px;
              left: 0;
            }
            &:hover {
              filter: grayscale(0);
              color: $green;
              font-weight: 500;
            }
          }
          a.favorite {
            &:before {
              background-image: url("../img/svg/fav.svg")
            }
            border-bottom: 1px solid #E0E0E0;
          }
          a.out {
            transform: none;
            padding: 16px 0 16px 32px;
            display: block;
            position: relative;
            filter: grayscale(100%);
            &:before {
              content: '';
              width: 20px;
              height: 20px;
              background-image: url("../img/svg/exit.svg");
              background-repeat: no-repeat;
              background-position: center;
              position: absolute;
              top: 15px;
              left: 0;
            }
            &:hover {
              filter: grayscale(0);
              color: $green;
              font-weight: 500;
            }
          }
        }
        li:nth-child(2) {
          border: none;
        }
        li.drop-out {
          display: none;
          margin-bottom: 12px;
          border: none;
          visibility: hidden;
          opacity: 0;
          z-index: 0;
          &.active {
            visibility: visible;
            opacity: 1;
            display: flex;

          }
          .greenBtn {
            width: 120px;
            padding: 12px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $lightGreen;
            background: #ffffff;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
            transition: all ease-in 0.3s;
            &:hover {
              color: #FFFFFF;
              background: $lightGreen;
              transform: none;
            }
          }
          .greenBtn:nth-child(1){
            margin-right: 10px;
          }

        }
      }
    }
  }

  .fixed-registration {
    position: absolute;
    top: 64px;
    right: -200%;
    bottom: 0;
    height: 100vh;
    width: 468px;
    background: $white;
    padding: 46px 70px;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(4px);
    transition: ease-in 0.5s;
    h3 {
      color: $lightGreen;
    }
    .bonus {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 112%;
          color: $lightGreen;
          margin-bottom: 4px;
        }

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 112%;
          color: $lightGreen;
        }
      }
    }
    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      .greyBtn {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 14px 24px;
        background: $grey;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        line-height: 18px;
        transition: all ease-in 0.3s;
        &:focus {
          outline: none;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .checkbox {
        display: flex;
        margin-bottom: 16px;
        input[type='checkbox'] {
          position: relative;
          width: 24px;
          min-width: 24px;
          height: 24px;
          border-radius: 4px;
          border: 1px solid #E0E0E0;
          outline: 0;
          cursor: pointer;
          appearance: none;
          transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

          &:before {
            position: absolute;
            content: '';
            width: 22px;
            height: 22px;
            background-image: url("../img/svg/check.svg");
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0;
          }

          &:checked {
            color: $white;
            border-color: $green;
            background: $lightGreen;

            &::before {
              opacity: 2;

            }

          }
        }

        span {
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          color: #4F4F4F;
          margin-left: 10px;
          text-align: left;

        }
      }
      .discount {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        text-decoration-line: underline;
        color: #20B4BD;
        margin-bottom: 8px;
      }
      .no-resive {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #989797;
        margin: 38px 0 8px 0;
      }
      .send {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #828282;
        display: flex;
        justify-content: center;
        p {
          margin-left: 5px  ;
        }
      }
      .number {
        color: #20B4BD;
        margin-bottom: 24px;
      }
      .code {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #4F4F4F;
        margin-bottom: 8px;
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;

        input {
          background: transparent;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          width: 100%;
          border: none;
          border-bottom: 1px solid $green;
          padding: 18px 0 12px 0;
          margin-bottom: 15px;
          transition: all ease-in-out 0.2s;

          &:focus {
            outline: none;
            border-bottom: 1px solid $lightGreen;
          }

        }
        .adress {
          display: flex;
          input {
            background: transparent;
            width: 100%;
            margin-right: 12px;
          }
        }

        .gender-box {
          display: flex;
          margin: 12px 0 35px 0;
          flex-direction: column;

          p {
            margin-bottom: 12px;
            font-size: 12px;
            line-height: 130%;
            color: #4F4F4F;
          }

          .gender {
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            width: 80%;

            div {
              display: flex;
              justify-content: space-around;
              align-items: center;

              input[type="radio"] {
                display: none;
              }

              label {
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                border: 2px solid $darkgrey;
                border-radius: 50%;
                box-sizing: border-box;

                &:before {
                  content: "";
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  transform: translate(-50%, -50%);
                  transition: background-color 0.3s;
                }
              }

              :checked ~ label::before {
                background-color: $green;
              }

              span {
                font-size: 12px;
                line-height: 15px;
                color: #4F4F4F;
                margin-left: 10px;
              }
            }
          }
        }

      }

      &.registration {
        .greyBtn {
          justify-content: center;
        }
      }


    }
    .img {
      padding: 135px 0;
    }
    input[type='number'] {
      padding: 16px;
      font-size: 14px;
      line-height: 112%;
      color: #989797;
      border-radius: 4px;
      border: none;
      margin-bottom: 16px;
      &:focus {
        outline: none;
      }
    }
    &.registration {
      &.active {
        right: 0;
      }
    }
    &.enter-form {
      &.active {
        right: 0;
      }

    }
    &.enter-code {
      .greyBtn {
        justify-content: space-between;
      }

      &.active {
        right: 0;
      }
    }
  }
}

