.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 85%;
  background: #201E1E;
  opacity: 0.9;
  border-radius: 4px;
  height: 44px;
  width: 56px;
  &:focus {
    outline: none;
  }
  &:after {
    margin-top: -5px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.swiper-button-next {
  right: 8%;
  &:after {
    content: url("../img/png/next.png");
  }
}
.swiper-button-prev {
  right: 12%;
  left: auto;
  &:after{
    content: url("../img/png/prev.png");
  }
  @media (max-width: 1400px) {
    right: 15%;
  }
  @media (max-width: 890px){
    right: 18%;
  }
  @media (max-width: 560px){
    right: 20%;
  }
  @media (max-width: 480px){
    right: 25%;
  }
}

main {
  
  .slide-banner {
    height: 480px;
    overflow: hidden;
    position: relative;
    @media(max-width: 1024px){
      height: auto;
    }
    .swiper-slide {
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .title {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: #ffffff;
        .container {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .line {
            width: 30%;
            height: 2px;
            background-color: #C4C4C4;
            border: none;
            @media (max-width: 1024px){
              width: 50%;
            }
          }
          .text {
            margin: 26px 0;
            width: 30%;
            @media (max-width: 1024px){
              width: 50%;
            }
            @media (max-width: 768px){
              margin: 16px 0;
            }
            h2 {
              font-weight: 900;
              font-size: 48px;
              line-height: 60px;
              text-transform: uppercase;
              color: #FFFFFF;
              @media (max-width: 768px){
                font-size: 28px;
                line-height: 30px;
              }
            }
            h1 {
              font-weight: 900;
              color: #FFC60F;
              font-style: normal;
              font-size: 96px;
              line-height: 121px;
              text-transform: uppercase;
              @media (max-width: 768px){
                font-size: 46px;
                line-height: 60px;
              }
            }
          }
          @media (max-width: 1024px){
            padding-left: 50px;
          }
        }
       
        
      }
    }
    
    

  }
  .order-block {
    margin: 52px 0;
    .flexGrid {
      display: flex;
      flex-wrap: wrap;
      margin-left: -8px;
      margin-top: 36px;
      @media (max-width: 860px){
        justify-content: space-around;
      }
      > div {
        padding-left: 8px;
        width: 25%;
        margin-bottom: 48px;
        .restaurantItem {
          padding: 12px;
          background: transparent;
          box-shadow: none;
          border-radius: 4px;

          &:hover {
            background: #FFFFFF;
            box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.15);
            .adress {
              a {
                background-color: #154F40;
                box-shadow: 0px 16px 32px rgba(81, 81, 81, 0.03);
                border-radius: 4px;
                background-image: url("../img/svg/VectorWhite.svg");
              }
            }


          }
          .img {
            width: 100%;
            position: relative;
            height: 168px;
            img {
              width: 100%;
              height: 100%;
            }
            .info {
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              width: 110px;
              height: 110px;
              background: #FFFFFF;
              opacity: 0.9;
              border-radius: 8px;
              padding: 14px 16px;
              img {
                width: 78px;
                height: 54px;
              }
              p {
                font-weight: 500;
                font-size: 10px;
                line-height: 130%;
                text-align: center;
                color: #4F4F4F;
              }
            }
          }
          .adress {
            padding: 12px 0 0 0 ;
            position: relative;

            p {

              font-size: 14px;
              line-height: 18px;
              color: #989797;
              margin: 5px 0;
            }
            a {
              display: flex;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              width: 32px;
              height: 32px;
              background-image: url("../img/svg/Vector.svg");
              background-position: center;
              background-repeat: no-repeat;


            }

          }

        }
        @media (max-width: 1024px){
          width: 33.3%;
        }
        @media (max-width: 860px){
          width: 45%;
        }
        @media (max-width: 440px){
          width: 100%;
        }
      }
    }
  }
  .fixed-call {
    position: fixed;
    right: 80px;
    z-index: 200;
    top: 70%;
    .icon-2 {
      width: 68px;
      height: 68px;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      animation: fadeInFrames 2s infinite cubic-bezier(0.66,0.33,0,1);
      transition: 0.3s;
      transform: translate3d(0,0,0);
      box-shadow: 0 0 0 0 rgba(63,130,36,0.88), 0 0 0 0  rgba(42,86,24,0.88);
      .icon {
        background-image: url(../img/svg/call.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: 0.3s;
        width: 100%;
        height: 100%;
      }
    }

  }

}
.reklama {
  width: 100%;
  margin-bottom: 64px;
  @media (max-width: 1200px) {
    margin-bottom: 0;
  }
}
.delivery {
  width: 100%;
  margin-bottom: 34px;
  display: flex;
  > div {
    width: 50%;
    @media(max-width: 768px){
      width: 100%;
    }
  }
  > div:nth-child(2){
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media(max-width: 768px){
      width: 100%;
      .greenBtn {
        margin: 20px 0 0 0 ;
      }
    }
    .tel {
      display: flex;
      flex-direction: column;
      a {
        display: inline-block;
        font-size: 17px;
        line-height: 21px;
        color: $lightGreen;
        padding: 12px 5px 12px 40px;
        border-bottom: 1px solid #E0E0E0;
        position: relative;
        &:before {
          position: absolute;
          top: 15px;
          left: 0;
          content : ''; 
          background-image: url(../img/svg/Phone.svg);
          background-position: center;
          background-repeat: no-repeat;
          width: 18px;
          height: 18px;
        }
        &:hover {
          &:before {transform: none;}
          color: $green;
        }
      }
    }
  }
  @media(max-width: 768px){
    flex-wrap: wrap;
    justify-content: center;
  }


}