#order {
  margin: 24px 0 64px 0;

  .order-header {
    margin: 24px 0 36px 0;
  }

  .order-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .right-side {
      width: 40%;
      display: flex;
      flex-direction: column;

      input {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #989797;
        width: 100%;
        border: none;
        border-bottom: 1px solid #154F40;
        padding: 18px 0 12px 0;
        margin-bottom: 15px;
        transition: all ease-in-out 0.2s;

        &:focus {
          outline: none;
          border-bottom: 1px solid $lightGreen;
        }

      }

      input:nth-last-child(1) {
        margin: 0;

      }

      @media (max-width: 980px) {
        width: 50%;
      }
      @media (max-width: 680px) {
        width: 100%;
        input {
          padding: 8px 0 4px 0;
        }

      }
    }
    .left-side {
      width: 60%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      @media (max-width: 980px) {
        width: 50%;
      }
      @media (max-width: 680px) {
        width: 100%;
        margin-top: 20px;
      }

      > div {
        width: 73%;
        @media (max-width: 980px) {
          width: 100%;
          padding: 0 20px;
        }

        h3 {
          color: $darkgrey
        }

        .radio {
          margin-top: 32px;
          display: flex;
          flex-direction: column;

          div {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            input[type="radio"] {
              display: none;
            }

            label {
              position: relative;
              display: inline-block;
              width: 20px;
              height: 20px;
              border: 2px solid $darkgrey;
              border-radius: 50%;
              box-sizing: border-box;

              &:before {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                transition: background-color 0.3s;
              }
            }

            :checked ~ label::before {
              background-color: $green;
            }

            span {
              margin-left: 10px;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
              color: #4F4F4F;
            }

            .QA {
              margin-left: 10px;
              width: 24px;
              height: 24px;
              background-image: url("../img/svg/qa.svg");
              background-position: center;
              background-repeat: no-repeat;
            }

          }

          div:nth-child(1) {
            margin-bottom: 12px;
          }

        }

        .total {
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 20px;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            color: $pink;

            p:nth-child(1) {
              color: #333333
            }
          }

          div:nth-child(1) {
            margin-bottom: 28px
          }
        }

        .total-summery {
          .greenBtn {
            width: 100%;
          }

          div:nth-child(1) {
            margin-bottom: 16px;
            display: flex;
            justify-content: space-between;

            p {
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 23px;
              color: #EB5757;
            }
          }
        }

      }



    }
    .paymentModal {
      display: none;
      position: absolute;
      width: 280px;
      height: 155px;
      right: 50%;
      top: 20%;
      transform: translateX(50%);
      background: $white;
      padding: 16px;
      box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
      border-radius: 4px;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-end;
      p {
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #989797;
        padding: 20px 0;
      }
      .greenBtn {
        padding: 10px 20px;
      }
      &.active {
        display: flex;
      }



    }
  }
}