#question {
  margin: 24px 0 64px 0;
  display: flex;
  .sidebar {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (max-width: 768px) {
      width: 45%;
    }
    @media (max-width: 490px) {
      width: 55%;
    }
    .question-side {
      width: 100%;
      margin-top: 34px;
      display: flex;
      flex-direction: column;
      background: #FCFCFC;
      a {
        padding: 14px 16px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-transform: capitalize;
        color: $darkgrey;
        position: relative;
        &:hover {
          cursor: pointer;

        }
        &:after {
          position: absolute;
          top: 17px;
          right: 16px;
          content: '';
          background-image: url('../img/svg/down.svg');
          background-repeat: no-repeat;
          background-position: center;
          width: 10px;
          height: 10px;
        }
        &.active {
          &:after{
            background-image: url('../img/svg/right.svg');
          }

        }
      }
      .delivery{
        &:after {content: none}

      }
    }
  }
  .main {
    width: 100%;
    margin-left: 32px;
    @media (max-width: 768px) {
      margin-left: 10px;
    }
    .question-header {
      margin: 24px 0 36px 0;
      @media (max-width: 768px) {
        margin: 18px 0;
      }

    }
    .question-content {
      h5{color: $darkgrey}
      p{
        margin: 16px 0 0 0 ;
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        color: #4F4F4F;
      }
    }
  }





}