#restaurant {
  #restaurant-content {
    display: flex;
    margin: 24px 0 58px 0;
    .sidebar {
      margin-top: 48px;
      .logo {
        box-shadow: 0px 8px 32px rgba(81, 81, 81, 0.03);
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        p {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 130%;
          color: #4F4F4F;
          text-align: center;
          margin-top: 18px;
        }
      }
    }
    .main {
      .search-restaurant {
        .popular {
          margin-top: 24px;
        }
      }
      .search-popular {
        .popular {
          margin-top: 58px;
        }
      }
      .search-popular, .search-restaurant {
        overflow: hidden;
        position: relative;
      }

      .search-cart {
        padding-right: 100px;
        margin: 24px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .flexGrid {
          display: flex;
          flex-wrap: wrap;
          margin-left: -32px;
          margin-top: 36px;
          >div {
            width: 25%;
            padding-left: 32px;
            margin-bottom: 30px;
          }
        }
        .greenBtn {
          align-self: flex-end;

        }

      }
    }
  }

}