#restaurant {
  #restaurant-detail {
    display: flex;
    margin-top: 24px;
    .sidebar {
      padding-top: 48px ;
      width: 100%;
      align-items: flex-start;
      .logo {
        margin: 0 auto;
        p{
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 130%;
          color: #4F4F4F;
          text-align: center;
          margin-top: 18px;
        }
      }
      .greenBtn{
        margin: 54px 0 24px 0;
      }
      .restaurant-info {
        div {
          padding: 0 50px 0 32px ;
          margin-bottom: 24px;
          position: relative;
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            background-position: center;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
          }

          p {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #154F40;
            margin-bottom: 6px;


          }
          span {
            font-weight: 300;
            font-size: 18px;
            line-height: 130%;
            color: #4F4F4F;
          }

        }
        div:nth-child(1){
          &:before {
            background-image: url("../img/svg/icon1.svg");
          }
        }
        div:nth-child(2){
          &:before {
            background-image: url("../img/svg/icon2.svg");
          }
        }
        div:nth-child(3){
          &:before {
            background-image: url("../img/svg/icon3.svg");
          }
        }

      }
    }
    .main {
      .content-header{
        width: 100%;
        h5 {
          color: #4F4F4F;
          margin: 24px 0 16px 0;
        }
        p {
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 150%;
          color: #4F4F4F;
        }
      }
      .content-content {
        .slide-restaurant {
          height: 488px;
          width: 100%;
          overflow: hidden;
          position: relative;
          border-radius: 4px;
          margin-bottom: 36px;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            z-index: 21;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.793082) 6.67%, rgba(0, 0, 0, 0.771592) 13.33%, rgba(0, 0, 0, 0.734672) 20%, rgba(0, 0, 0, 0.682071) 26.67%, rgba(0, 0, 0, 0.61458) 33.33%, rgba(0, 0, 0, 0.534493) 40%, rgba(0, 0, 0, 0.445847) 46.67%, rgba(0, 0, 0, 0.354153) 53.33%, rgba(0, 0, 0, 0.265507) 60%, rgba(0, 0, 0, 0.18542) 66.67%, rgba(0, 0, 0, 0.117929) 73.33%, rgba(0, 0, 0, 0.0653279) 80%, rgba(0, 0, 0, 0.028408) 86.67%, rgba(0, 0, 0, 0.00691776) 93.33%, rgba(0, 0, 0, 0) 100%), url(.jpg), rgba(255, 255, 255, 0.1);
          }
          .swiper-slide{
            img {
              height: 100%;
              width: 100%;

            }

          }
          .swiper-button-prev {
            right: 135px;
            @media (max-width: 768px){
              right: 100px
            }
          }
        }
        #div {
          .reviews{
            width: 100%;
            overflow: hidden;
            position: relative;
          }
          .swiper-wrapper{
            margin: 24px 0;
            .review-box {
              display: flex;
              align-items: center;
              flex-direction: column;
              padding: 24px;
              box-shadow: 0px 16px 32px rgba(81, 81, 81, 0.03);
              border-radius: 4px;
              p{
                margin: 10px 0 24px 0;
                font-weight: 300;
                font-size: 18px;
                line-height: 130%;
                color: #989797;
              }
              span {
                text-align: center;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 150%;
                color: #4F4F4F;
              }
            }
            .discount-box {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              .img {
                position: relative;
                img {
                  width: 100%;
                }
              }

              .inner-text {
                position: absolute;
                margin: auto;
                width: 70%;
                text-align: center;
                font-size: 18px;
                line-height: 130%;
                color: #F2F2F2;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              }
              p {
                margin-top: 14px;
                text-align: center;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 130%;
                color: #4F4F4F;
              }

              span {
                color: $pink
              }
            }


          }
          .left-comments {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 64px;
            div {
              position: relative;
              width: 60%;
              background: #FFFFFF;
              padding: 16px 10px;
              box-shadow: 0px 16px 32px rgba(81, 81, 81, 0.03);
              border-radius: 5px;
              input[type='text'] {
                width: 100%;
                border: none;
                border-bottom:  1px solid #E0E0E0;
                font-weight: 300;
                font-size: 14px;
                line-height: 130%;
                color: #989797;
                padding: 12px 80px 10px 10px ;
                &:focus {
                  outline: #E0E0E0 auto 1px ;
                }
              }
              .chars {
                width: auto;
                position: absolute;
                top: 28px;
                right: 20px;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 130%;
                color: #201E1E;
                padding: 0;
                margin: 0;
              }
            }

            .greyBtn {
              background: #E0E0E0;
              border-radius: 4px;
              padding: 14px 80px;
              border: none;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
              color: #FFFFFF;
              &.active {
                background: $green;
                &:hover {cursor: pointer}
              }
              &:hover {
                cursor: not-allowed;
              }
              &:focus{
                outline: none;
              }
            }
          }
          .swiper-wrapper{
            margin: 24px 0;
          }
          .swiper-button-next, .swiper-button-prev {
            width: 56px;
            height: 44px;
            top: 24px;
            right: 0;
            box-shadow: 0px 16px 32px rgba(81, 81, 81, 0.03);
            border-radius: 4px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $white;
            margin-left: 4px;
          }
          .swiper-button-next {
            background-image: url("../../img/svg/next.svg");
            &:after {
              content:"none";
            }
            &:hover {
              background-color: $green;
              background-image: url("../../img/svg/VectorWhite.svg");

            }

          }
          .swiper-button-prev {
            background-image: url("../../img/svg/prev.svg");
            right: 65px;
            &:after {
              content: none;
            }
            &:hover {
              background-color: $green;
              background-image: url("../../img/svg/VectorWhite.svg");
              transform: rotate(180deg);

            }
          }
        }
      }



    }
  }
  .map {
    margin: 40px 0 64px 0;
    height: 364px;
    width: 100%;
    iframe{
      width: 100%;
      height: 100%;
    }

  }


}
