#search {
  #search-results {
    display: flex;
    margin-bottom: 58px;
    .sidebar {
      margin-top: 92px ;
      .logo {
        box-shadow: 0px 8px 32px rgba(81, 81, 81, 0.03);
        p {
          font-size: 12px;
          color: #4F4F4F;
          margin-top: 16px;
        }
      }
    }
    .main {
      .search-cart {
        padding-right: 100px;
        margin: 24px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h1 {margin-bottom: 36px}
        .flexGrid {
          display: flex;
          flex-wrap: wrap;
          margin-left: -32px;
          margin-top: 36px;
          >div {
            width: 25%;
            padding-left: 32px;
            margin-bottom: 30px;
          }

        }
        .greenBtn {
          align-self: flex-end;
        }
      }
    }
  }

}